/* Custom properties */
:root {
  --clr-dark: 230, 35%, 7%;
  --clr-light: 231, 77%, 90%;
  --clr-white: 0, 0%, 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* z-index */
  --z-index-100: 1;
  --z-index-200: 10;
  --z-index-300: 20;
  --z-index-400: 30;
  --z-index-500: 40;
  --z-index-600: 50;
  --z-index-700: 60;
  --z-index-800: 70;
  --z-index-900: 80;
}
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}
a {
  color: inherit;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  border: none;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.t-align-center {
  text-align: center;
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.5rem);
}

.underline-indicators > * {
  padding-block: var(--underline-gap, 1rem);
  border-bottom: 5px solid var(--underline-border-clr, transparent);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  --underline-border-clr: hsl(var(--clr-white), 0.5);
  /* border-color: hsl(var(--clr-white), 0.5); */
}

.underline-indicators > *[data-state="active"],
.underline-indicators > *[aria-selected="true"] {
  color: hsl(var(--clr-white));
  --underline-border-clr: hsl(var(--clr-white));
  /* border-color: hsl(var(--clr-white)); */
}

.container {
  --gap: 2rem;
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1.5rem;
}

.grid-container * {
  max-width: 50ch;
}

@media (min-width: 45em) {
  .grid-container {
    grid-column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  padding: 1rem;
  background: hsl(var(--clr-white), 0.5);
  color: hsl(var(--clr-dark), 0.95);
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
  z-index: var(--z-index-900);
}

.skip-to-content:focus {
  transform: translateY(0%);
}

/* Color section */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-600);
  text-transform: uppercase;
  letter-spacing: 0.297rem;
}

.numbered-title span {
  font-weight: 700;
  color: hsl(var(--clr-white), 0.25);
  margin-inline-end: 1.75rem;
}

#colors {
  flex-wrap: wrap;
}
#colors > * {
  flex-basis: calc((100% - (2 * var(--gap))) / 3);
}
#colors h2 {
  flex: 1 0 100%;
}
.color-patch {
  flex-direction: column;
  gap: 0.5rem;
}
.color-patch p span {
  margin-right: 2rem;
}

/* Componenets */

.large-button {
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  padding-inline: 2rem;
  text-decoration: none;
  position: relative;
  isolation: isolate;
}
.large-button::after {
  content: "";
  background-color: hsl(var(--clr-white), 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms linear, transform 500ms ease-in-out;
}
.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Primary-header */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--clr-dark), 0.95);
}

@supports (backdrop-filter: blur(2rem)) or (-webkit-backdrop-filter: blur(2rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white), 0.05);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  .primary-navigation {
    --underline-gap: 2rem;
    padding: min(20rem, 15vh) 1rem 1rem 2rem;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 25%;
    z-index: var(--z-index-800);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .primary-navigation.underline-indicators > * {
    padding-block: 1rem;
    border-right: 5px solid var(--underline-border-clr, transparent);
    border-bottom: 0px;
  }

  .mobile-nav-toggle {
    display: block;
    background-image: url("/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    position: absolute;
    right: 2rem;
    z-index: var(--z-index-900);
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/assets/shared/icon-close.svg");
  }

  .mobile-nav-toggle[aria-expanded="true"] ~ nav .primary-navigation {
    transform: translateX(0%);
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45rem) {
  .primary-header:after {
    content: "";
    width: 100%;
    height: 1px;
    position: relative;
    background-color: hsl(var(--clr-white), 0.25);
    order: 1;
    z-index: var(--z-index-900);
    margin-right: -2.5rem;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}

.dot-indicators > * {
  border-radius: 50%;
  aspect-ratio: 1;
  padding-inline: 0.5rem;
  background-color: hsl(var(--clr-white), 0.17);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white), 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white), 1);
}

.numbered-indicators {
  flex-direction: column;
}

.numbered-indicators > * {
  cursor: pointer;
  border: 1px solid hsl(var(--clr-white), 0.17);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 5rem;
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
  border-width: 2px;
  border-color: hsl(var(--clr-white), 1);
}

.numbered-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white), 1);
  color: hsl(var(--clr-dark));
  border-color: hsl(var(--clr-white), 1);
}

/* Page level background images  */

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url(/assets/home/background-home-mobile.jpg);
}

@media (min-width: 35em) {
  .home {
    background-image: url(/assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-position: right center;
  }
}
