---
import BaseLayout from '$/layouts/BaseLayout.astro';
import Header from '$/components/Header.astro';

import allData from '$/resources/data.json';
const destinationData = allData["destinations"];

---

<BaseLayout title="Space Tourism | Destination" page="destination">

<Header />

<main id="main" class="grid-container">
  <h1 class="numbered-title"><span>01</span>Pick your destination</h1>


</main>

</BaseLayout>