---
import BaseLayout from '$/layouts/BaseLayout.astro';
import Header from '$/components/Header.astro';
---

<BaseLayout title="Space Tourism | Destination" page="destination">

<Header />

<main id="main" class="grid-container">
</main>

</BaseLayout>