---
let {title, page} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet">
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style/global.css">
</head>
<body class={`${page}`}>
  <a href="#main" class="skip-to-content">Skip to content</a>
  <slot></slot>

  <script src="/js/index.js"></script>
</body>
</html>
